<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h1 class="page-header">Edit Item</h1>
      <%= bootstrap_form_for(@item, url: admin_item_path(@business.slug, @item)) do |f| %>
        <%= f.text_field :title, :id => 'title', placeholder: "Title" %>
        <%= f.text_area :description, :id => 'description', placeholder: "Description" %>
        <%= f.text_field :price, :id => 'price', placeholder: "Price" %>
        <%= f.select :status, ['active', 'retired'] %>
        <%= f.label :image, "Attach an Image" %>
        <%= f.file_field :image %>
        <%= f.collection_check_boxes :categories, Category.all, :id, :title, checked: true %>

        <%= f.submit "Save Item", :id => 'save', class: "btn btn-success" %>
        <%= link_to "Back", admin_path(@business.slug), class: "btn btn-default" %>
    <% end %>
  </br>
      </div>
  </div>
</div>
