<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h1 class="page-header">Add Home Image</h1>
      <% unless business.images.empty? %>
        <%= bootstrap_form_for @home_image, url: admin_home_images_path do |f| %>
          <% select_options = business.images.map { |i| [i.name, i.id] } %>
          <%= f.select :image_id, options_for_select(select_options) %>

          <%= f.text_field :caption %>

          <%= f.text_field :tagline %>

          <%= f.submit "BOOM SUCKA" %>
        <% end %>

      <% else %>

        <h2>Silly User, You don't got no images...</h2>
        <%= link_to "Add Some...", new_admin_image_path(business.slug) %>
      <% end %>
    </div>
  </div>
</div>
