<div class="item active">
  <div class="img">
    <img src="<%= @about.image.image(:medium) %>" class="img-thumbnail">
  </div>
    <div class="container">
      <div id="bio-position">
      <h1><%= @about.name %></h1>
        <h3><%= @about.tagline %></h3>
          <p><%= @about.bio %></p>
        <%= link_to 'Home', home_path(@business.slug), class: "btn btn-default" %>
      </div>
    </div>
</div>
