<p style="color: green"><%= flash[:notice] %></p>
<div class="container">
  <div class="row">
    <hr>
    <div class="row row-margin-bottom">
      <div class="col-md-11 no-padding lib-item" data-category="view">
        <div class="lib-panel">
          <div class="row box-shadow">
            <div class="col-md-10">
              <img src="<%= @item.image.image(:original) %>" style = "height: 500px; width: 800px" class="img-thumbnail">
            </div>
            <div class="col-md-2">
              <div class="lib-row lib-header">
                <h1><%= @item.title %></h1>
                <div class="lib-header-seperator"></div>
              </div>
              <div class="lib-row lib-desc">
               <h4><%= @item.description %></h4>
               <h4><%= @item.dimensions %></h4>
             </div>
             <h4><%= number_to_currency(@item.price) %></h4>
           </div>
          <% if @item.available? %>
           <%= form_tag line_items_path, :style => "padding-top: 25%; padding-left: 55%;" do %>
              <%= number_field :quantity, "quantity", in: 1..20, value: 1 %>
              <%= hidden_field_tag :id, @item.id %>
              <%= submit_tag "Add to Cart", class: "btn btn-success" %>
            <% end %>
          <% end %>
         </div>
       </div>
     </div>
   </div>
 </div>
